{% extends "global_layout_admin.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Reader young teachers</h4>
                    <p class="card-text paragraph-custom">
                        Query to show young teachers who have borrowed the most books
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/admin/reader_teacher">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Unlucky authors</h4>
                    <p class="card-text">
                        Query to show authors whose books have not been borrowed
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/admin/unlucky_author">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Categories with success</h4>
                    <p class="card-text paragraph-custom">
                        Query to show the top-3 pairs category
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/admin/top_3">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Unproductive authors</h4>
                    <p class="card-text">
                        Query to show all authors who have written at least 5 books less than the author with the most books
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/admin/unproductive_author">Show</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
