{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form" name="login-form" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group ">
                    {{ form.username.label(class = "form-label") }}
                    {{ form.username(class = "form-control", placeholder = "Enter username")}}
                    {% if form.username.errors %}
                    <ul class = "errors">
                        {% for error in form.username.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group ">
                    {{ form.password.label(class = "form-label") }}
                    {{ form.password(class = "form-control", placeholder = "Enter password") }}
                    {% if form.password.errors %}
                    <ul class = "errors">
                        {% for error in form.password.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="text-center">
                    {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
                </div>
            </form>
    </div>
    </div>
</div>
{% endblock content %}